.subheader {
  border-bottom: 2px solid #DD002A;
  background: #E0E0E0;
  h2 {
    margin: 0;
    padding: .5em;
    text-align: center;
  }
}

.button {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #DD002A;
  font-weight: bold;
  background: #E0E0E0 url('/images/arrow_right.png') right center no-repeat;
  &:hover {
    background-color: #F0F0F0;
  }
}
