.subheader {
  border-bottom: 2px solid #dd002a;
  background: #e0e0e0;
  h2 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: 3em;
  text-decoration: none;
  color: #dd002a;
  font-weight: bold;
  background: #e0e0e0;
  border-bottom: 2px solid #f0f0f0;
  span {
    display: block;
    flex-grow: 1;
  }
  img {
    display: block;
    flex-shrink: 0;
    height: 24px;
  }
  &:hover {
    background-color: #f0f0f0;
  }
}

.list {
  a {
    display: block;
    position: relative;
    border-bottom: 2px solid #e0e0e0;
    padding: 0.5em 2em 0 1em;
  }
  h3,
  p {
    margin: 0 0 0.5em;
  }
  img {
    position: absolute;
    right: 0.5em;
    top: 50%;
    height: 24px;
    margin-top: -12px;
  }
}

.block {
  padding: 0.5em 2em 0 1em;
  h3,
  p {
    margin: 0 0 0.5em;
  }
}
